.jumbotron {
	background-image: url('images/index.png');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	height: 80vh;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.avatar {
	background-color: aquamarine;
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
}

.info-div {
	height: auto;
	width: 100%;
	box-shadow: 2rem 2rem 2rem 1rem;
}

.skills-heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.progress {
	height: 0.5rem;
}

.social-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
